//
// Base Settings - High level settings for the entire site.
//

// High level settings for the entire site.
$base-spacing-units: 24px;
$base-font-size: 16px;
$base-line-hight: $base-spacing-units;

// Spacing sizes;
$spacing-smaller: $base-spacing-units / 3;
$spacing-small: $base-spacing-units / 2;
$spacing-normal: $base-spacing-units;
$spacing-large: $base-spacing-units * 1.5;
$spacing-larger: $base-spacing-units * 2;
$spacing-largest: $base-spacing-units * 3;

// Font sizes
$font-size-smaller: $base-font-size / 1.6;
$font-size-small: $base-font-size / 1.3;
$font-size-normal: $base-font-size;
$font-size-large: $base-font-size * 1.5;
$font-size-larger: $base-font-size * 2;
$font-size-largest: $base-font-size * 3;

// Font weights
$font-weight-light: 100;
$font-weight-normal: 200;
$font-weight-bold: 300;
$font-weight-bolder: 500;
$font-weight-heading: $font-weight-bold;

// Header sizes
$heading-size-1: $base-font-size * 1.7;
$heading-size-2: $base-font-size * 1.6;
$heading-size-3: $base-font-size * 1.5;
$heading-size-4: $base-font-size * 1.3;
$heading-size-5: $base-font-size;
$heading-size-6: $base-font-size * 0.9;
