@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-family: 'Quicksand', helvetica, sans-serif;
}

// High level settings for the entire site.
$base-spacing-units: 24px;
$base-font-size: 16px;
$base-line-hight: $base-spacing-units;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;
$font-weight-heading: $font-weight-bold;

// Spacing sizes;
$spacing-smaller: $base-spacing-units / 3;
$spacing-small: $base-spacing-units / 2;
$spacing-normal: $base-spacing-units;
$spacing-large: $base-spacing-units * 1.5;
$spacing-larger: $base-spacing-units * 2;
$spacing-largest: $base-spacing-units * 3;

// Font sizes
$font-size-smaller: $base-font-size / 1.6;
$font-size-small: $base-font-size / 1.3;
$font-size-normal: $base-font-size;
$font-size-large: $base-font-size * 1.5;
$font-size-larger: $base-font-size * 2;
$font-size-largest: $base-font-size * 3;

// Header sizes
$heading-size-1: $base-font-size * 2;
$heading-size-2: $base-font-size * 1.5;
$heading-size-3: $base-font-size * 1.35;
$heading-size-4: $base-font-size * 1.2;
$heading-size-5: $base-font-size;
$heading-size-6: $base-font-size * 0.9;

body {
  //Set line heights
  line-height: $base-line-hight;

  //Set defult font weight
  font-weight: $font-weight-normal;
}

h1,h2,h3,h4,h5,h6 {
  // Set heading font weights
  font-weight: $font-weight-heading;
}

// Set heading sizes
h1 { font-size: $heading-size-1; }
h2 { font-size: $heading-size-2; }
h3 { font-size: $heading-size-3; }
h4 { font-size: $heading-size-4; }
h5 { font-size: $heading-size-5; }
h6 { font-size: $heading-size-6; }
