// Main scss file
@import "../extras/normalize";
@import "sizes";
@import "fonts";
@import "theme";

body {
  max-width: 960px;
  margin: 0 auto;
  text-align: justify;

  header > h1 {
    text-align: center;
    padding: $spacing-largest 0;
    margin-bottom: 0;
  }

  section > div {
    padding: $spacing-larger;
  }

  div > h2 {
    padding-bottom: $spacing-normal;
  }
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li {
    display: block;
    padding: $spacing-smaller;
    margin: $spacing-small;
  }
  margin-bottom: $spacing-largest;
}

//

section {
  padding: $spacing-large;
  margin: 0 0 $spacing-larger;
}

.example-box {
  margin-top: $spacing-smaller;
  padding: $spacing-smaller;
  // padding-bottom: 0;
}

.bottom-padding {
  padding-bottom: $spacing-small;
}

.indent {
  margin-left: $spacing-smaller;
}

.indent2 {
  margin-left: $spacing-normal;
}
