// Main scss file
@import "../extras/normalize";
@import "sizes";
@import "fonts";
@import "theme";

body {
  max-width: 1260px;
  margin: 0 auto;
  text-align: justify;

  #wrap2layout {
    margin-top: $spacing-largest;
  }

  header > h1 {
    text-align: center;
    padding: $spacing-largest 0;
    margin-bottom: 0;
  }

  div > h2 {
    padding-bottom: $spacing-normal;
  }

  section > div {
    padding: $spacing-larger;
  }
}

nav {
  li {
    display: block;
    margin: $spacing-smaller;
  }

  a {
    padding: $spacing-smaller;
    display: inline-block;
  }
}
//
//

section {
  // padding: $spacing-large;
  .example-box {
    margin-top: $spacing-smaller;
    padding: $spacing-normal;
    border-radius: $spacing-smaller;
  }

  .bottom-padding {
    padding-bottom: $spacing-small;
  }

  .indent {
    margin-left: $spacing-normal;
  }

  .indent2 {
    margin-left: $spacing-normal *2;
  }
}
//
// Grid global variables.

nav ul {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.subWrap {
  display: grid;
}
//
@media only screen and (max-width: 480px) {
  //

  //
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(3, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-small;
  }
  // This wraps all content sections
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-small;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}
//
@media only screen and (min-width: 768px), only screen and (min-width: 700px) and (orientation: landscape) {
  //
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(5, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-normal;
  }
  // This wraps all content sections.
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-normal;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}
//
@media only screen and (min-width: 1023px) {
  section {
    padding: $spacing-large;
  }

  .subWrap {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-larger;
    grid-row-gap: $spacing-larger;
  }

  section > p {
    padding: $spacing-normal 0 0;
    height: 150px;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-larger;
  }
}
