// Main scss file
@import "../extras/normalize";
@import "sizes";
@import "fonts";
@import "theme";

body {
  max-width: 1260px;
  margin: 0 auto;
  text-align: justify;

  #wrap2layout {
    margin-top: $spacing-largest;
  }

  header > h1 {
    text-align: center;
//  padding: $spacing-largest*3 0;
    margin-bottom: 0;
    background-image: url("img/backimage.jpg");
    background-size: cover;
  }

  div > h2 {
    padding-bottom: $spacing-normal;
  }

  section > div {
    padding: $spacing-larger;
  }
}

nav {
  li {
    display: block;
    margin: $spacing-smaller;
  }

  a {
    padding: $spacing-smaller;
    display: inline-block;
  }
}
//
//

section {
  // padding: $spacing-large;
  .example-box {
    margin-top: $spacing-smaller;
    padding: $spacing-normal;
    border-radius: $spacing-smaller;
  }

  .bottom-padding {
    padding-bottom: $spacing-small;
  }

  .indent {
    margin-left: $spacing-normal;
  }

  .indent2 {
    margin-left: $spacing-normal *2;
  }
}
//
// Grid global variables.

nav ul {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.subWrap {
  display: grid;
}
//
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    // background-color: red; /* Set a background color */
    // color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    // padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 48px; /* Increase font size */
    height: 50px;
    width: 50px;
    line-height: 0.7;
}
//
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
//
@media only screen and (max-width: 480px) {

  //
  header > h1 {
    padding: $spacing-largest 0;
  }
  //
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(3, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-small;
  }
  // This wraps all content sections
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-small;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}
//
@media only screen and (min-width: 768px), only screen and (min-width: 700px) and (orientation: landscape) {
  //
  header > h1 {
    padding: $spacing-largest 0;
  }
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(5, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-normal;
  }
  // This wraps all content sections.
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-normal;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}
//
@media only screen and (min-width: 1023px) {
  header > h1 {
    padding: $spacing-largest*2 0;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-large;
  }
  section {
    padding: $spacing-large;
  }
  .subWrap {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-normal;
    grid-row-gap: $spacing-normal;
  }

  section > p {
    padding: $spacing-normal 0 0;
    height: 150px;
  }

  // Space below nav menu.
  nav {
    margin-bottom: $spacing-larger;
  }
}
