.siteSection {
  margin: 100px 0 50px;
  padding: 0 30px; 

  &__heading {
    text-align: center;
  }
}

.dev-article {
  max-width: 500px;
  background-color: orangered;

  &__title {
    text-align: center;
  }

  &__text {
    text-align: justify;
  }

  &__example-wrap {
    
  }

  &__code-input {

  }

  &__code-output {

  }

}