$color1: #2d7ed2;
$color2: #38b2ff;
$color2B: rgba(56, 178, 255, 0.5);
$color3: #453ad8;
$color5: #464646;
$color6: #323232;
$color7: #e6e6e6;
$color8: #f0f0f0;
$color9: FireBrick;

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.no-margin {
  margin: 0;
}

p {
  margin: 0 0 0.5rem 0;
}

.siteBody {
  font-family: 'Quicksand', helvetica, sans-serif;
  color: #323232;
  background-color: #e6e6e6;

  @include above-desktop-regular {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 1440px;
    margin: 30px auto 0;
  }
}

html {
  scroll-behavior: smooth;
}