.flex {
  display: flex;
}

.flexExample2 {
  flex-direction: column-reverse;
}

.flexExample4 {
  flex-direction: row-reverse;
}

.flexExample5 {
  flex-wrap: nowrap;
}
.flexExample5 > div {
  width: 40%;
}

.flexExample6 {
  flex-wrap: wrap;
}
.flexExample6 > div {
  width: 40%;
}

.flexExample7a {
  justify-content: flex-start;
}
.flexExample7b {
  justify-content: center;
}
.flexExample7c {
  justify-content: flex-end;
}

.flexExample8a {
  justify-content: space-between;
}
.flexExample8b {
  justify-content: space-around;
}


.flexExample9a, .flexExample9b, .flexExample9c, .flexExample9d {
  height: 150px;
}
.flexExample9a {
  align-items: flex-start;
}
.flexExample9b {
  align-items:center;
}
.flexExample9c {
  align-items:flex-end;
}
.flexExample9d {
  align-items: stretch;
}


.flexExample10a, .flexExample10b, .flexExample10c {
  height: 150px;
}
.flexExample10a > div:nth-child(1) {
  align-self:flex-start;
}
.flexExample10b > div:nth-child(2) {
  align-self: center;
}
.flexExample10c > div:nth-child(3) {
  align-self:flex-end;
}


.flexExample11 > div {
  flex-grow: 1;
}
.flexExample11 > div:nth-child(2) {
  flex-grow: 3;
}
