<<<<<<< HEAD
=======

>>>>>>> f8188dd5e4805b3e671cf711981ecee5fa9e5d04
// Removes float property.
.clearFloats {
  clear: both;
}

// Fixes collapsed height due floating.
.group::after {
  content: "";
  display: table;
  clear: both;
}

// Floating object to the right.
.floatRight {
  float: right;
}

// Floating object to the left.
.floatLeft {
  float: left;
}

.exampleBox {
  height: 70px;
  width: 70px;
  background-color: red;
  margin: 5px;
}

.exampleBackground {
  background-color: orange;
<<<<<<< HEAD
  border: solid 1px red;
  border-radius: 5px;
  border: 1px orange solid;
}

.exampleBackground > p {
  padding: 10px;
}

.floatNestedDivs > div {
  float: left;
}
=======
  border: 1px orange solid;
}
>>>>>>> f8188dd5e4805b3e671cf711981ecee5fa9e5d04
