.clearFloats {
  // Removes float property
  clear: both;
}

.group::after {
  // Fixes collapsed height due floating
  content: "";
  display: table;
  clear: both;
}

.floatRight {
  // Floating object to the right
  float: right;
}

.floatLeft {
  // Floating object to the left
  float: left;
}

.floatNestedDivs > div {
  // Flating all boxes from the multi-box example
  float: left;
}
