@import "mixins";

$color1: #2d7ed2;
$color2: #38b2ff;
$color2B: rgba(56, 178, 255, 0.5);
$color3: #453ad8;
$color5: #464646;
$color6: #323232;
$color7: #e6e6e6;
$color8: #f0f0f0;

html {
  // Set main text color
  color: $color6;
  // Set main background color
  background: $color7;
  body {
    // offset-x | offset-y | blur-radius | color
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
}

header {
  h1 {
    // Main website heading color
    color: $color7;
    // Main website background color
    background-color: $color2;
    // offset-x | offset-y | blur-radius | color
    text-shadow: 3px 0 0 $color6;
    // Set background image to the main heading box model
    background-image: url("../../img/backimage2.jpg");
    // Make the background image cover the h1 box
    background-size: cover;
  }
}

.navWrapper {
  // Set navbar background color
  background-color: $color1;
}

#menuBtnDiv {
  background-image: url("../../img/menuIcon.png");
  // Set background image size
  background-size: 20px;
  // Disable default image repeat
  background-repeat: no-repeat;
  // Position image to the center
  background-position: center;
  //
  background-color: $color7;
  //
  border: none;
}

nav {
  li {
    a {
      text-decoration: none;
      // Set navbar text color
      color: $color7;

      @include hoverNfocus() {
        // animation: keyframeName | duration | transitions | delay | last keyframe
        animation: navAnimate 0.15s ease-in-out 0s forwards;
      }
    }
  }
}

@keyframes navAnimate {
  from {
    // What should happen at the beggning.
    color: $color7;
  }
  to {
    // What should happen at the end.
    color: $color2;
  }
}

article {
  // Set border and values for all articles
  border-right: groove 2px $color8;
  border-left: groove 2px $color8;
  // offset-x | offset-y | blur-radius | spread-radius | color
  box-shadow: 1px 1px 3px 1px $color5;

  @include hoverNfocus() {
    // animation: keyframeName | duration | transitions | delay | last keyframe
    animation: articleAnimate 0.15s ease-in-out 0s forwards;
  }

  .example-box {
    // Set border and values for article example box
    border: 1px groove $color8;
    // Set background for the article example box
    background: $color8;
  }
}

@keyframes articleAnimate {
  from {
    // What should happen at the beggning.
    border-right: groove 2px $color8;
    border-left: groove 2px $color8;
  }
  to {
    // What should happen at the end.
    border-right: groove 2px $color2;
    border-left: groove 2px $color2;
  }
}

#bckBtn {
  // Set to-top button text color
  color: $color8;
  // Set to-top background color
  background-color: $color2B;
  // Load to-top background image
  background-image: url("../../img/bkbutton-v5w.gif");
  // Set background image size
  background-size: 35px;
  // Disable default image repeat
  background-repeat: no-repeat;
  // Position image to the center
  background-position: center;

  @include hoverNfocus() {
    // animation: keyframeName | duration | transitions | delay | last keyframe
    animation: myBtnAnimate 0.15s ease-in-out 0s forwards;
  }
}

@keyframes myBtnAnimate {
  from {
    // What should happen at the beggning.
    background-color: $color2B;
  }
  to {
    // What should happen at the end.
    background-color: $color2;
    color: $color6;
  }
}
