// Main scss file
@import "../normalize";
@import "sizes";
@import "fonts";
@import "theme";

body {
  // Max width for the whole website
  max-width: 1260px;
  // Center the whole website
  margin: 0 auto;
  // Justify all text
  text-align: justify;

  #wrap2layout {
    // DEBUG: add some margin to separate
    // 2nd section from the frust (temp)
    margin-top: $spacing-largest;
  }

  header > h1 {
    // Remove main website margins
    margin-bottom: 0;
    // Align main website heading
    text-align: center;
  }

  div > h2 {
    // Padding of the main section heading
    padding-bottom: $spacing-normal;
  }
}

nav {
  li {
    // Separate menu items from background
    margin: $spacing-smaller;
  }

  a {
    // Allow menu item to be epandable
    display: block;
    // Expand each menu item a little bit
    padding: $spacing-smaller;
  }
}

section {
  .example-box {
    // Slight top margin for the example box
    margin-top: $spacing-smaller;
    // Add padding to the example box
    padding: $spacing-normal;
    // Add rounded border to the example box
    border-radius: $spacing-smaller;
  }
  .bottom-padding {
    // Separate the "example" box from the "result"
    padding-bottom: $spacing-small;
  }
  .indent {
    // 1nd level of indentetion for code examples
    margin-left: $spacing-normal;
  }
  .indent2 {
    // 2nd level of indentetion for code examples
    margin-left: $spacing-normal * 2;
  }
}

nav ul {
  // Set nav menu layout as a grid
  display: grid;
  // Center all menu items
  justify-items: center;
  //Center the grid itself
  justify-content: center;
}

.subWrap {
  // Set all code articles layouts as a CSS grid
  display: grid;
}

#myBtn {
  // Hidden by default
  display: none;
  // Fixed/sticky position
  position: fixed;
  // Place the button at the bottom of the page
  bottom: 30px;
  // Place the button 30px from the right
  right: 30px;
  // Make sure it does not overlap
  z-index: 99;
  // Remove borders
  border: none;
  // Remove outline
  outline: none;
  // Add a mouse pointer on hover
  cursor: pointer;
  // Some padding
  padding: 5px;
  // Rounded corners
  border-radius: 10px;
  // Increase font size
  font-size: 48px;
  // Set fixed width and height
  width: 50px;
  height: 50px;
  // Adjust string symbol position
  line-height: 0.1;
}

@media only screen and (max-width: 480px) {
  //
  // fix all coments below!
  //
  header > h1 {
    padding: $spacing-largest 0;
  }
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(3, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-small;
  }
  // This wraps all content sections
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-small;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}

@media only screen and (min-width: 481px),
  only screen and (min-width: 700px) and (orientation: landscape) {
  header > h1 {
    //
    padding: $spacing-largest 0;
  }
  // This controls Nav Menu layout and spacing.
  nav ul {
    grid-template-columns: repeat(5, 80px);
    grid-column-gap: 10px;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-normal;
  }
  // This wraps all content sections.
  .subWrap {
    grid-row-gap: $spacing-normal;
  }
  // This wraps all articles.
  section {
    padding: $spacing-normal;
  }
  // This sets space for innder code example box.
  section > p {
    padding: $spacing-normal 0 $spacing-small;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-normal;
  }
}

@media only screen and (min-width: 1023px) {
  header > h1 {
    padding: $spacing-largest * 2 0;
  }
  // This wraps all global sections.
  .contentWrapper {
    margin: 0 $spacing-large;
  }

  section {
    padding: $spacing-large;
  }

  .subWrap {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $spacing-normal;
    grid-row-gap: $spacing-normal;
  }

  section > p {
    padding: $spacing-normal 0 0;
    height: 150px;
  }
  // Space below nav menu.
  nav {
    margin-bottom: $spacing-larger;
  }
  nav ul {
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 20px;
  }
}
