// Main scss file
@import "../normalize";
@import "sizes";
@import "fonts";
@import "theme";
@import "cssAni";
@import "cssGridStyles";

// General website styling
body {
  // Max width for the whole website
  max-width: 1260px;
  // Center the whole website
  margin: 0 auto;
  // Justify all text
  text-align: justify;
  header > h1 {
    // Remove main website margins
    margin-bottom: 0;
  }
  div > h2 {
    // Padding of the main article heading
    padding-bottom: $spacing-normal;
  }
  header > h1,
  div > h2,
  article > h3 {
    // Center align all headings
    text-align: center;
  }
}

// Website navigation
nav {
  li {
    // Separate menu items from background
    margin: $spacing-smaller;
    padding: $spacing-smaller;
  }
  a {
    // Allow menu item to be epandable
    display: block;
  }
}

// The small article boxes
article {
  .example-box {
    // Slight top margin for the example box
    margin-top: $spacing-smaller;
    // Add padding to the example box
    padding: $spacing-normal;
    // Add rounded border to the example box
    border-radius: $spacing-smaller;
  }
  .bottom-padding {
    // Separate the "example" box from the "result"
    padding-bottom: $spacing-small;
  }
  .indent {
    // 1nd level of indentetion for code examples
    margin-left: $spacing-normal;
  }
  .indent2 {
    // 2nd level of indentetion for code examples
    margin-left: $spacing-normal * 2;
  }
}

// back-to-top button
#bckBtn {
  // Hidden by default
  display: none;
  // Fixed/sticky position
  position: fixed;
  // Button set at the bottom of the page
  bottom: 3%;
  // Place the button 30px from the right
  right: 2%;
  // Make sure it does not overlap
  z-index: 99;
  // // Remove borders
  border: none;
  // Remove outline
  outline: none;
  // Add a mouse pointer on hover
  cursor: pointer;
  // Some padding
  padding-top: 25px;
  // Rounded corners
  border-radius: 10px;
  // Set button fixed width
  width: 50px;
  // Set button fixed height
  height: 50px;
}

// CSS grid stuff

#wrap2layout article {
  margin-bottom: $spacing-normal;
}

#wrap2layout .example-box p {
  padding-bottom: $spacing-normal;
}

.message-mobile, .message-tablet {
  padding: $spacing-smaller;
  border-radius: $spacing-smaller;
}

.bottomMargin {
  margin-bottom: $spacing-normal;
}

// Code that works only on mobiles
@media only screen and (max-width: $screen-size-small) {
  header {
    position: relative;
  }
  #mainHeading {
    // Add margin to compensate for the seprated menu
    margin-top: 69px;
  }
  .navWrapper {
    // Separate the mobile menu from the website content
    position: absolute;
    // Position the mobile nav menu to the absolute top
    top: -69px;
    right: 0px;
    // The mobile menu wrapper should take the whole width
    width: 100%;
  }
  #mobBtnDiv {
    // The background of the mobile burger menu
    display: block;
    margin: $spacing-smaller;
    position: relative;
    width: 44px;
    height: 43px;
    cursor: pointer;
    background: #ccc;
    border-radius: $spacing-smaller;
  }
  .hamMenu {
    // The middle bit of the mobile burger menu
    width: 28px;
    height: 5px;
    background: $color6;
    position: absolute;
    top: 45%;
    left: 19%;
    transition: 250ms;
    transition-delay: 250ms;
  }
  .hamMenu:before,
  .hamMenu:after {
    // The side bits of the mobile burger menu
    content: "";
    position: absolute;
    width: 28px;
    height: 5px;
    background: $color6;
    transition: 250ms;
    transition-delay: 150ms;
  }
  .hamMenu:before {
    // Move top side burger bit up
    top: -11px;
  }
  .hamMenu:after {
    // Move bottom side burger bit down
    top: 11px;
  }
  .navWrapper {
    // Defult state of the mobile nav menu
    overflow: hidden;
    height: 69px;
    padding: 5px;
  }
  header > h1 {
    // Remove h1 top margin style
    margin-top: 0;
    // Set height of main website heading/image
    padding: $spacing-largest 0;
  }
  div > h2 {
    // Set margin of all global articles
    margin-top: $spacing-normal;
  }
  nav {
    li {
      // Separate menu items from background
      margin: $spacing-normal;
      padding: $spacing-normal/2;
    }
  }
  nav ul {
    // Style the mobile nav menu list buttons
    li {
      background-color: $color2;
      text-align: center;
    }
  }
  .contentWrapper {
    // Set margin of the global content wrapper
    margin: 0 $spacing-small;
  }
  .subWrap {
    // Set row gap of the article articles
    grid-row-gap: $spacing-normal;
  }
  article {
    // Set individual article padding
    padding: $spacing-small;
    margin-bottom: $spacing-normal;
  }
  article > p {
    // Set code article description padding
    padding: $spacing-normal 0 $spacing-small;
  }
  #bckBtn {
    // explicitly hide back-to-top button in the mobile view
    display: none !important;
  }
}

// Code that works only on tablets
@media only screen and (min-width: $screen-size-medium),
  only screen and (min-width: $screen-size-medium-landscape) and (orientation: landscape) {
  #mobBtnDiv {
    // Hide the show mobile nav button from this size on
    display: none;
  }
  header > h1 {
    // Remove h1 top margin style
    margin-top: 0;
    // Set height of main website heading/image
    padding: $spacing-largest 0;
    // explicitly show main heading (obsolete code?)
    display: block !important;
  }
  nav {
    // explicitly show nav menu (obsolete code?)
    display: block !important;
  }
  div > h2 {
    // Set margin of all global articles
    margin-top: $spacing-normal;
  }
  nav ul {
    // Set nav menu layout as a grid
    display: grid;
    // Center all menu items
    justify-items: center;
    // Center the grid itself
    justify-content: center;
    // Set nav menu to 6 columns, each 80px wide
    grid-template-columns: repeat(6, 80px);
    // Set nav menu items column gap to 10px
    grid-column-gap: 10px;
  }
  .contentWrapper {
    // Set margin of the global content wrapper
    margin: 0 $spacing-normal;
  }
  .subWrap {
    // Set all code articles layouts as a CSS grid
    display: grid;
    // Set row gap of the article articles
    grid-row-gap: $spacing-normal;
  }
  article {
    // Set individual code article padding
    padding: $spacing-normal;
  }
  article > p {
    // Set code article description padding
    padding: $spacing-normal 0 $spacing-small;
  }
}

// Code that works only on large screens
@media only screen and (min-width: $screen-size-large) {
  header > h1 {
    // Set height of main website heading/image
    padding: $spacing-largest * 2 0;
  }
  div > h2 {
    // Set margin of all global articles
    margin-top: $spacing-normal;
  }
  nav ul {
    // Set nav menu to 6 columns, each 80px wide
    grid-template-columns: repeat(6, 80px);
    // Set nav menu items column gap to 10px
    grid-column-gap: 20px;
  }
  .contentWrapper {
    // Set margin of the global content wrapper
    margin: 0 $spacing-large;
  }
  .subWrap {
    // Set two row grid
    grid-template-columns: 1fr 1fr;
    // Set column gap of the articles grid
    grid-column-gap: $spacing-normal;
    // Set row gap of the articles grid
    grid-row-gap: $spacing-normal;
  }
  article {
    // Set individual code article padding
    padding: $spacing-large;
  }
  #wrap1html article > p {
    // Set code article description padding
    padding: $spacing-normal 0 0;

  }
  #wrap1html article > p {
    // Set the article description height
     height: 150px;
  }
}

// Code that works only on largest screens
@media only screen and (min-width: $screen-size-largest) {
  header {
    // Separate the website from the top
    margin-top: $spacing-normal;
  }
}
