.red-wrap {
  border: 1px solid #b22222;
}

.red-box {
  background-color: #b22222;
  height: 70px;
  width: 70px;
  margin: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

